@font-face {
  font-family: 'Orecrusher-bold-Ital';
  font-display: swap;
  src: url('./OreCrusherBold-Italic.ttf');
  src: url('./OreCrusherBoldItalic.woff2') format('woff2'),
  url('./OreCrusherBoldItalic.woff') format('woff');
}
@font-face {
  font-family: "LiquidCrystal-Bold";
  src: url('LiquidCrystal-Bold.woff2') format('woff2'),
  url('LiquidCrystal-Bold.woff') format('woff');
}
@font-face {
 font-family: 'Bahnschrift';
 font-display: swap;
 src: url('./Bahnschrift.ttf');
}
@font-face {
  font-family: 'Heavitas';
  font-display: swap;
  src: url('heavitas-webfont.woff2') format('woff2'),
  url('heavitas-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Agency';
  font-display: swap;
  //src: url('./AGENCYR.TTF');
  src: url('AGENCYR.woff2') format('woff2'),
  url('AGENCYR.woff') format('woff');
}
//@font-face {
//  font-family: 'Comicy';
//  font-display: swap;
//  src: url('Comicy.woff2') format('woff2'),
//  url('Comicy.woff') format('woff');
//}



