// default colors
$color-default: #BF92DB;
$color-blue: #1990FF;
$color-red: #F85373;
$color-fff: #FFF1BC;
$color-yellow: #FFE25F;
$color-green: #297776;
$color-bg: rgba(7, 0, 81, .5);
// font colors
$color-font: #292C33;


$marge: 20px;
$margeSize: 30px;
$borderRadius: 8px;

$base_width: 540px
