@import '~@/assets/css/variable.scss';
@import '~@/assets/css/mixin.scss';
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  .app {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    overflow: auto;
  }
}

